.container {
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100svh;
  padding-block: 68px;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .container {
    padding-top: 100px;
    display: grid;
    place-items: center;
  }
}
