@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --main-black: #131313;
  --white: #fafcff;
  --html: #dd4b25;
  --css: #254bdd;
  --javascript: #e9aa08;
  --react-blue: #127ee2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: var(--white);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #131313;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.sr-only {
  display: none;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-superbold {
  font-weight: 900;
}

/* header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 35px 0 20px;
  background-color: rgba(19, 19, 19, 0.9);
  z-index: 10;
}

#navbar {
  display: flex;

  & ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  & ul li:not(.logo-li) {
    padding: 3px 7px;
    transition: 200ms;
    transform-origin: center;
    border-bottom: 1px solid var(--main-black);
    text-transform: uppercase;
  }

  & ul li:nth-of-type(2),
  ul li:nth-of-type(5) {
    margin-left: 40px;
  }

  &ul li a:hover {
    border-bottom: 1px solid var(--white);
  }
}

#navbar ul li:not(.logo-li):hover {
  border-bottom: 1px solid var(--white);
}

#logo-img {
  width: 50px;
  margin-inline: 133px;
}

/* main section */

/* hero */
.hero-section {
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
  }

  #portrait-1 {
    width: 472px;
    height: 521px;
    z-index: 1;
  }

  .hero-ace {
    font-family: "Syne", sans-serif;
    font-size: 12.5rem;
    font-weight: 900;
    position: absolute;
    letter-spacing: 3.75rem;
    margin-right: -3.75rem;
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    z-index: 2;
  }

  .hero-ace.top {
    top: 15.37rem;
  }

  .hero-ace.bottom {
    bottom: 15.3rem;
  }

  .main-ace {
    color: rgb(255, 255, 255);
  }
}

/* About Me */
.about-section {
  width: 1200px;
  display: grid;
  position: relative;
  grid-template-columns: 1.5fr min-content;
  column-gap: 102px;
  margin: 0 auto;
  padding-top: 250px;

  .squigly-1 {
    width: 120px;
    height: 15px;
    position: absolute;
    top: 12.1rem;
    left: -60px;
  }

  .hello,
  .im-ace {
    font-size: 3.125rem;
    font-weight: 700;
  }

  .about-me-text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin: 10px 0 52px;
  }

  .portrait-2 {
    width: 340px;
  }
}

.about-section {
  .tech-heading-container {
    position: relative;
  }

  .main-tech-text {
    position: relative;
    font-size: 1.875rem;
    font-weight: 600;
  }

  .stacked-tech-text {
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    top: 2px;
    left: 2px;
    z-index: -1;
    font-size: 1.875rem;
    font-weight: 600;
  }

  .stacked-tech-text.last {
    top: 3px;
    left: 4px;
  }
}

.tech-stack {
  margin-top: 32px;

  & ul {
    display: flex;
  }

  & ul .box {
    padding: 3px 12px;
    border-radius: 3px;
    font-size: 1rem;
    margin-right: 10px;
  }

  .html-tech {
    background-color: var(--html);
  }

  .css-tech {
    background-color: var(--css);
  }

  .js-tech {
    background-color: var(--javascript);
  }

  .react-tech {
    background-color: var(--react-blue);
  }
}

/* PROJECTS */

#projects {
  height: 100vh;
  width: 100vw;
}
